<div class="post-genis ortala">
  <img src="">
  <h1>
      <%= truncate(@post.title, length: 60) %>
  </h1>
  <p class="content">
    <%= @post.content %>
  </p>
  <p class="content">
    <% if @post.category.present? %>
      <%= link_to @post.category.name, category_path(@post.category) %>
    <% else %>
      Bu yazının kategorisi bulunmamaktadır.
    <% end %>
  </p>

</div>

